Tkinter #librerias graficas
pyodbc #libreria para conectar a base de datos
Pillow #libreria para manejo de imagenes
qrcode #libreria para generar codigos qr
smtplib #libreria para enviar correos
email-validator #libreria para validar correos